



.header {
  background-color: #006400;
  height: 3em;
}


.menu {
  display: flex;
  justify-content: left;

  margin: 0;
  list-style: none;
  text-transform: uppercase;
  cursor: pointer;

  &__item {
    padding-left: 8px;
    padding-right: 8px;
    position: relative;

    &:hover {
      background-color: #9acd32; 
    }

    &-active {
      background-color: #ffcc00; 
    }

    .menu__item-text {
      display: block;
      padding: 10px 15px;
      color: white;
      text-decoration: none;
    }


    &:hover .submenu {
      display: block;
    }
  }
}


.submenu {
  display: none;
  position: absolute;
margin: 0;
padding: 0;

  background-color: #ff7f50;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-width: 120px;
  z-index: 1;
  list-style: none;
  color: #fff;

  &_item {
    padding-left: 8px;
    padding-right: 8px;


    &:hover {
      color: black;
    }
  }
}