@import 'header';

* {
  box-sizing: border-box;
}

<<<<<<< HEAD
body {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
=======

body {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
>>>>>>> 218d23b18d19698da88c81dcace308937c3ebf8e
}