.header {
  background-color: #006400;
  height: 3em;
}

.menu {
  display: flex;
  justify-content: left;
  margin: 0;
  list-style: none;
  text-transform: uppercase;
  cursor: pointer;
}
.menu__item {
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
}
.menu__item:hover {
  background-color: #9acd32;
}
.menu__item-active {
  background-color: #ffcc00;
}
.menu__item .menu__item-text {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
}
.menu__item:hover .submenu {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: #ff7f50;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-width: 120px;
  z-index: 1;
  list-style: none;
  color: #fff;
}
.submenu_item {
  padding-left: 8px;
  padding-right: 8px;
}
.submenu_item:hover {
  color: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
