*{
    box-sizing: border-box;
}
html {
    font-family: Verdana;
    font-size: 16px;
    color: #555;
  }
  
  body {
    margin: 0;
  }
  

  .header {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background: linear-gradient(60deg, red, orange);
    color: white;
  }
  .footer {
    padding: 0.5em;
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  

  .main {
    display: flex;
    padding: 0.5em;
  }
  
  .navigation,
  .section,
  .news {
    padding: 0.5em;
  }
  
  .navigation {
    width: 20%;
  }
  
  .section {
    width: 60%;
    font-size: 1.25em;
  }
  
  .news {
    width: 20%;
  }
  
  .section__header {
    font-size: 5vw;
    text-align: center;
  }
  

  .units-list {
    list-style: none;
    padding: 0;
    line-height: 1.75em;
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
  }
  
  .nav-list-item {
    background-color: #808080;
    color: white;
    line-height: 2em;
    margin-bottom: 0.5em;
  }
  
  .nav-list-link {
    display: block;
    padding: 0 0.5em;
    text-decoration: none;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  

  .css-units {
    font-size: 1.125em;
    font-weight: 700;
    color: #860000;
    background-color: #e5e5e5;
  }