*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: Verdana, sans-serif;
    color: #555;
    font-size: 16px;
}

.header {
    background: linear-gradient(60deg, red, orange);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    color: white;

}

.main {
    display: flex;
}

.navigation {
    width: 20%;
    padding: 0.5em;
}

.nav-list {
    list-style: none;
    padding: 0;
    

}

.nav-list-item {
    background-color: #808080;
    margin-bottom: 0.5em;

}

.nav-list-link {

    width: 100%;
    color: white;
    line-height: 2em;
    text-decoration: none;    
    padding: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section {
    width: 60%;
    padding: 0.5em;
    font-size: 1.25em;
}

.section__header {
    text-align: center;
    font-size: 5vw;
}

.units-list {
    line-height: 1.75em;
    padding-left: 1.5em;
}

.css-units {
    color: #8b0000;
    background-color: #e5e5e5;
    font-size: 1.125em;
    font-weight: 700;
}

.news {
    width: 20%;
    padding: 0.5em;
}

.footer {
    background-color: #e5e5e5;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }