* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }


  .header {
    height: 3em;
    padding: 0 1em;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .menu-button {
    font-size: 2em;
    border: none;
    background: none;
    cursor: pointer;
    display: none;
  }

  .menu-button .fas {
    pointer-events: none;
  }


  .nav-list {
    list-style: none;
    padding: 0;
  }

  .navigation {
    width: 20%;
    padding: 0.5em;
  }


  .nav-list-item {
    background-color: #808080;
    color: #fff;
    height: 2em;
    line-height: 2em;
    margin-bottom: 0.5em;
  }


  .nav-list-link {
    color: #fff;
    text-decoration: none;
    display: block;
    padding-left: 0.5em;
  }


  .nav-list-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  @media (max-width: 600px) {
    .menu-button {
      display: block;
    }

    .navigation {
      display: none;
      position: absolute;
      top: 3em;
      left: 0;
      background-color: #eee;
      width: 100%;
    }

    .navigation.active {
      display: block;
    }
  }