
body {
    font-family: Arial, sans-serif;
  }
  

  nav {
    position: relative;
  }
  
  .menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f0f0f0;
    width: 100%;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .menu-toggle {
    display: none;
  }
  
  /* Адаптивность */
  @media (max-width: 768px) {
    .menu {
      display: block;
    }
  
    .menu-toggle {
      display: block;
    }
  }