
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Verdana, sans-serif;
  color: #555;
  font-size: 16px;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Основные стили для меню */
.navigation {
  width: 20%;
  padding: 0.5em;
}

.nav-list {
  list-style: none;
  padding: 0;
}

.nav-list-item {
  background-color: #808080;
  margin-bottom: 0.5em;
  max-width: 100%;
}

.nav-list-link {
  display: block;
  max-width: 100%;
  color: white;
  line-height: 2em;
  text-decoration: none;
  padding: 0 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-toggle {
  display: none; 
  background: none; 
  border: none; 
  padding: 0; 
  margin: 0; 
  cursor: pointer; 
}

.menu-toggle i {
  font-size: 30px; 
  color: black; 
}


@media (max-width: 600px) {
  .menu-toggle {
    display: block; 
  }
  
  .navigation {
    display: none; 
  }
}


@media (min-width: 600px) and (max-width: 1200px) {
  .navigation {
    width: 100%;
  }
}


@media (min-width: 1200px) {
  .main {
    display: flex;
  }

  .navigation {
    width: 20%;
  }

  .section {
    width: 60%;
  }

  .news {
    width: 20%;
  }
}
