* {
    box-sizing: border-box;
  }
  
  body {

    display: flex;

  }
  
  table {
    border-collapse: collapse;
    margin: 16px;
  }
  
  td {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
  }
  
  tr:nth-child(even) td:nth-child(odd),
  tr:nth-child(odd) td:nth-child(even) {
    background-color: black;
  }
  
  tr:nth-child(even) td:nth-child(even),
  tr:nth-child(odd) td:nth-child(odd) {
    background-color: white;
  }
  
  td:first-child,
  td:last-child,
  tr:first-child td,
  tr:last-child td {
    background-color: white;
    border: none;
  }
  
  td:first-child,
  td:last-child {
    font-weight: bold;
  }
  
  tr:first-child td,
  tr:last-child td {
    font-weight: bold;
    font-size: 14px;
    color: black;
  }