.section {
  min-height: 200px;
  display: flex;
  flex: 1;
}
.section--navigation {
  background-color: #ff7f50;
}
.section--products {
  background-color: #006400;
}
.section--news {
  background-color: #0ff;
}

@media (min-width: 600px) {
  .products {
    display: flex;
    flex: 2;
  }
}
@media (min-width: 900px) {
  .content {
    display: flex;
  }
  .content .section {
    flex: 1;
  }
}
span {
  background-color: #faebd7;
  padding: 8px;
  border-radius: 4px;
  text-transform: lowercase;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
