@import 'breakpoints.scss';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.square {
  width: 100px;
  height: 100px;
  margin: 8px;


  @include for-extra-small {
    background-color: #ff7f50; 
  }

  
  @include for-medium-up {
    background-color: #c47;
  }


  @include for-large-up {
    background-color: #a61; 
  }


  @media screen and (min-width: 1200px) {
    background-color: #c47; 
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;

  @media screen and (orientation: landscape) {
    flex-direction: row;
  }

  @media screen and (orientation: portrait) {
    flex-direction: column;
  }
}