.navigation{
    background-color: #ff7f50;
    min-height: 200px;
    display: flex;
    flex-grow: 1;
}
.products-list{
    background-color: #006400;
    min-height: 200px;
    display: flex;
    flex-grow: 1;
}
.news{
    background-color: #0ff;
    min-height: 200px;
    display: flex;
    flex-grow: 1;
}
span{
    background-color: beige;
    padding: 4px;
    border-radius: 4px;
    text-transform: lowercase;
    margin: auto;
}
@media  and(min-width: 600px) {
    .products{
        display: flex;
        flex-grow: 2;
    }
}
@media  and(min-width: 900px) {
    .navigation,
    .products-list,
    .news {
        display: flex;
        width: 33.33%; 
    }
}